body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: #249bf6;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.flexible-container p{
    margin-bottom: 20px;
}
section p{
    color: rgba(0, 0, 0, 0.658);
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(to right, salmon, tomato);
    padding: 10px 40px;
    border-radius: 5%;
}
.first-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
}
.dream-big h2{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 630px;
}
.experience h1{
    font-size: 40px;
}
.experience-item{
    width: 40%;
    height: 400px;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 30px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: rgb(77, 77, 77);
}